body {
  background-image: url('./imgs/Fondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  color-scheme: light dark;
  color: red;

}

.title {
  font-size: 50px;
  line-height: 1.1;
  margin: 0 auto; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 9.5px 19px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}



