.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu input {
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
}

.tasklist-create {
    display: flex;
    flex-direction: column;
}

.menu .tasklist-create input {
    background-color: #D2FE0C;
    cursor: pointer
}


.menu button {
    width: 250px;
    margin-top: 10px;
}


.card {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card:hover {
    background-color: #f0f0f0;
}

.new-list {
    min-width: 200px;
    background-color: coral;
    margin: 0 auto;
}

.form-control {
    border: 1px solid #ced4da;
    /* Color del borde base */
    border-radius: 4px;
    /* Redondeo de borde base */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* Transición de animación */
}

/* Estilo de sombreado al hacer hover */
.form-control:hover {
    border-color: #737d6c;
    /* Color del borde al hacer hover */
    box-shadow: 0 1.5px 1.5px rgba(168, 238, 5, 0.76);
    /* Efecto de sombreado al hacer hover */
}