.task {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: chocolate;
}

.completed {
    text-decoration: line-through;
}

button {
    margin-left: 10px;
}